@import url('normalize.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&family=Playfair+Display&display=swap');


* {
  box-sizing: border-box;
}

html, body {
  scroll-behavior: smooth;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 10px;
  position: relative;
  background-color: #f5f5f5;
  color: #151c2f;
  scroll-padding-top: 100px;
}
body {
  padding-top: 65px;
}

.button {
  padding: 1rem 2.5rem;
  background-color: rgba(0,171,214,1);
  font-weight: 300;
  text-decoration: none;
  color: #0a0a0a;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
.button:hover {
  background-color: rgba(0,171,214,.8);
}

/* Header */

header nav li, header nav a, .cta button {
  font-weight: 500;
  font-size: 1.6rem;
  color: #24252A;
  text-decoration: none;
}
header {
  position: fixed;
  width: 100vw;
  background-color: #f5f5f5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 15%;
  z-index: 1000;
  top: 0;
}
.logo {
  cursor: pointer;
  font-size: 2.5rem;
  color: #0a0a0a;
}
.logo img {
  height: 6rem;
}
header nav {
  display: flex;
  flex-direction: row;
}
.nav-links {
  list-style: none;
}
.nav-links li {
  display: inline-block;
  padding: 0 2rem
}
.nav-links li a {
  transition: all 0.3s ease 0s;
  letter-spacing: 0.2rem;
}
.nav-links li a:hover {
  color: #0088a9;
}
#modalBtn-m {
  display: none;
}
.hamburger-menu {
  display: none;
}

/* Main */

section {
  min-height: 100vh;
}
section .container {
  width: 100%;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  margin-right: auto;
  margin-left: auto;
}
 .title {
  text-align: center;
  font-size: 3rem;
  letter-spacing: .2rem;
}
p {
  color: #56585D;
}
.title hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,0), rgba(108,99,255,.75), rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,0));
}

/* Welcome Section */

.welcome .container {
  display: flex;
  padding: 5rem 1rem;
  justify-content: center;
}
.intro {
  padding: 1rem 8rem;
}
.intro img {
  height: 30em;
}
.pint {
  font-size: 2rem;
  padding-top: 10rem;
}
.welcome i {
  font-family: 'Playfair Display', serif;
  font-size: 5rem;
  padding-left: .8rem;
}
h1 {
  font-size: 8rem;
  font-weight: bold;
  margin: 0 0 .5rem;
}
.pint h2 {
  margin: 0;
  padding-left: .5rem;
}

/* Services Section */

#services .container {
  max-width: 1150px;
  text-align: center;
  padding-bottom: 8rem;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
#services .wrapper {
  padding: 10rem 5rem;
  font-size: 1.6rem;
  line-height: 1.5;
}
#services .icon {
  padding: 2rem 0;
  text-align: center;
}
.icon img {
  height: 12rem
}

/* Portfolio Section */

#portfolio .container {
  font-size: 1.8rem;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr .3fr;
}
.card {
  max-width: 65rem;
  margin: auto;
  padding: 5rem 2rem;
}
.card .wrapper {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.top-card img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}
.bottom-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem;
  margin: auto 0;
}
.bc-left, .bc-btn {
  padding: 0 2rem;
}
.bc-left h4 {
  font-size: 3rem;
}
.bc-right {
  margin: auto 0
}

/* Form Section */

.modal {
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 1050;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  outline: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: rgba(0,0,0,0.6);
}
.modal-dialog {
  position: relative;
  width: auto;
  margin: .8rem;
  pointer-events: none;
  
  display: flex;
  display: -ms-flexbox;
  -ms-flex-align: center;
  align-items: center;
  min-height: calc(100% - 1.6rem);
}
.modal-content {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: column;
  flex-direction: column;
  width: 40%;
  margin: auto;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: .5rem;
  outline: 0;
}

.modal-header {
  padding: 2rem;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-size: 1.5rem;
}
.modal-header-wrapper {
  padding: 5rem 5rem 0;
}
.modal-header h3 {
  font-size: 3rem;
  margin: 1rem 0;
}
.close {
  color: #ccc;
  float: right;
  font-size: 4rem;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-body {
  padding: 1rem 2rem;
}
.form-fieldset {
    margin: 2rem 5rem 5rem;
}
.form-element-wrapper {
  padding: 1.5rem 1rem;
  font-size: 1.8rem;
}
.form-element-container {
  padding: 1rem 0;
}
.form-element-input {
  height: 3rem;
  width: 15em;
}
.form-element-textarea {
  height: 10rem;
  width: 15em;
}
.form-recaptcha-container {
  margin-left: 5rem;
  padding: 1.5rem 1rem;
}
.form-button-container {
  margin: 3rem;
  text-align: center;
}
.form-button-container .button {
  padding: 1.5rem 3rem;
  font-size: 1.6rem;
}

@keyframes modalopen {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

/* 404 Page */

.err {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.err p {
  font-size: 2.4rem;
}
.err img {
  height: 35rem;
}
.err .home-btn {
  font-size: 1.8rem;
  padding: 1rem;
}

/* Footer */

footer {
  background-color: #151c2f;
  color: #F5F8FA;
  position: absolute;
  height: auto;
  width: 100%;
  padding: 1rem 8rem;
  font-size: 1.5rem;
  line-height: 1.5;
}
footer h6 {
  font-size: 2rem;
  margin: 1rem 0;
}
.footer-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer-about {
  width: 35rem;
  line-height: 1.5;
}
.footer-top .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 35%;
}
footer nav {
  margin: 0 0 2rem;
}
footer nav ul {
  padding-inline-start: 0;
  list-style: none;
}
footer nav a, footer nav li {
  text-decoration: none;
  color: #F5F8FA;
  line-height: 2;
}
footer nav ul, .footer-about p {
  margin-top: 3rem;
}
.q-link {
  position: relative;
}
.q-link::before, 
.q-link::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #F5F8FA;
  position: absolute;
  left: 0;
  transform: scaleX(0);
  transition: transform 0.3s;
}
.q-link::after {
  bottom: 0;
  transform-origin: right;
}
.q-link::before {
  top: 0;
  transform-origin: left;
}
.q-link:hover::before, 
.q-link:hover::after {
  transform: scaleX(1);
}

#contact-icons {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  text-align: center;
}
#contact-icons a {
  padding: 1rem .5rem 0;
  transition: 0.5s;
  text-decoration: none;
  color: #6996f8;
}
#contact-icons  a:hover { 
  transform: translateY(-5px);
  cursor: pointer;
  color: #6C63FF;
}
#contact-icons img {
  height: 4.5rem;
  margin: .2rem;
}
.fa-free-code-camp {
  font-size: 4.2rem;
}

footer hr {
  border: solid 1px rgba(173, 173, 173, 0.6);
}

.footer-bottom {
  text-align: center;
}
.footer-bottom p {
  color: #d7d9d7;
}


@media only screen and (max-width: 1200px) {

  /* Welcome */

  .welcome .container {
    height: auto;
  }
}

@media only screen and (max-width: 992px) {

  /* Header */

  header {
    padding: 1rem 10%;
  }
  .nav-links li {
    padding: 1rem;
  }

  /* Welcome */

  .welcome .container {
    padding: 0;
  }
  .intro img {
    padding-top: 2rem;
  }
  .pint {
    font-size: 1.8rem;
  }

   /* Services */

   #services .container {
    grid-template-columns: 1fr 1fr;
  }

  /* Form */

  .modal-content {
    width: 60%;
  }
  
}

@media only screen and (max-width: 768px) {

  main {
    font-size: 1.4rem;
  }
  section {
    min-height: 60vh;
  }

  /* Header */

  header {
    background-color: #f5f5f5;
  }
  header nav {
    width: 20rem;
    height: 100%;
    position: fixed;
    background-color: #151c2f;
    top: 0;
    right: -600px;
    padding-top: 10rem;
    transition: right 0.8s cubic-bezier(1, 0, 0, 1);

    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .change {
    right: 0;
  }
  .logo {
      color: #151c2f;
      font-size: 2.5rem;
  }
  .nav-links {
    display: flex;
    flex-direction: column;
    margin-bottom: 6rem;
  }
  .nav-links li {
    padding: .8rem 0;
  }
  .nav-links li a {
    color: #f8f8f8;
    position: relative;
    padding: .2rem 0;
    font-size: 3rem;
  }
  .nav-links li a::before, 
  .nav-links li a::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #f8f8f8;
    position: absolute;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.3s;
  }
  .nav-links li a::after {
    bottom: 0;
    transform-origin: right;
  }
  .nav-links li a::before {
    top: 0;
    transform-origin: left;
  }
  .nav-links li a:hover::before, 
  .nav-links li a:hover::after {
    transform: scaleX(1);
  }

  .hamburger-menu {
    width: 3.5rem;
    height: 3rem;
    position: fixed;
    top: 38px;
    right: 50px;
    cursor: pointer;
    z-index: 1000;
  
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .line {
    width: 100%;
    height: 3px;
    background-color: #151c2f;
    transition: all 0.8s;
  }
  .change .line-1 {
    transform: rotateZ(-45deg) translate(-8px, 6px);
    background-color: #f8f8f8;
  }
  .change .line-2 {
    opacity: 0;
    background-color: #f8f8f8;
  }
  .change .line-3 {
    transform: rotateZ(45deg) translate(-8px, -6px);
    background-color: #f8f8f8;
  }

  #modalBtn-d {
    display: none;
  }
  #modalBtn-m {
    display: block;
    padding-left: 4rem;
  }
  .cta button {
    font-size: 2.5rem;
  }

  /* form */


  /* Welcome */

  .welcome .container {
    padding: .5rem;
    text-align: center;
    flex-direction: column;
  }
  .intro img {
    height: 28em;
    padding-top: 0;
  }
  .welcome i {
    font-size: 4.5rem;
  }
  .welcome h1 {
    font-size: 6rem;
  }
  .welcome h2 {
    margin: 0 .8rem;
    padding: 2rem 0;
  }
  .pint {
    padding-top: 0;
  }

  /* Services */

  #services .container {
    padding: 3rem;
  }
  #services .wrapper {
    padding: 10rem 2rem;
  }

  /* Portfolio */

  #portfolio {
    font-size: 1.4rem;
    padding: 6rem;
  }
  .bc-left h5 {
    font-size: 2rem;
  }
 
  /* Form */

  .modal-content {
    width: 100%;
  }

  /* Footer */

  footer a {
    color: #6c63ff;
  }
}

@media only screen and (max-width: 576px) {

  /* Header */
  header nav {
    width: 100%;
  }

  /* Main */

  main {
    margin: auto;
  }
  h1 {
    font-size: 4.8rem;
  }
  section {
    padding: 3rem;
    min-height: 30vh;
  }
  
   /* Welcome */

   .welcome .container {
    text-align: center;
  }
  .intro {
    padding: 0;
  }
  .welcome i {
    font-size: 3rem;
  }
  .welcome h1 {
    font-size: 4rem;
  }
  .intro img {
    height: 14em;
    width: auto;
    padding-top: 3rem;
  }
  .pint {
    font-size: 1.6rem;
    padding: 1rem;
  }
  .pint h2 {
    font-size: 1.6rem;
  }

  /* Services */

  #services .container {
    grid-template-columns: 1fr;
    padding-bottom: 10rem
  }
  #services .wrapper {
    padding: 2rem 0;
  }

  /* Portfolio */

  #portfolio {
    padding: 1rem;
  }
  .card {
    padding: 5rem 1rem;
  }
  .bc-left, .bc-btn {
    padding: 0 .5rem;
  }

  /* Form */

  .modal {
    display: none;
  }
  .form-element-textarea {
    overflow-wrap: break-word;
    height: 10rem;
  }
  .form-fieldset {
    margin: 2rem 0 5rem;
  }
  .form-recaptcha-container {
    margin-left: 0;
  }

  /* Footer */

  footer {
    padding: 2rem;
  }
  .footer-top {
    flex-direction: column;
  }
  .footer-about {
    width: auto;
  }
  .footer-top .container {
    flex-direction: row;
    padding-bottom: 2rem;
    width: 100%;
  }
  #contact-icons img {
    height: 4rem;
  }
  .branding {
    padding: 0 6rem;
  }
}

/*

grid-columns:      12;
grid-gutter-width: 30px;

grid-breakpoints:
  Extra small screen / phone
  xs: 0,
  Small screen / phone
  sm: 576px,
  Medium screen / tablet
  md: 768px,
  Large screen / desktop
  lg: 992px,
  Extra large screen / wide desktop
  xl: 1200px

container-max-widths: 
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px

*/