@import url('normalize.css');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto:ital@0;1&display=swap');

* {
  box-sizing: border-box;
}
html, body {
  background-color: #303030;
  scroll-behavior: smooth;
  font-family: roboto, sans-serif;
  position: relative;
  color: #FFF;
}
body {
  padding-top: 1em;
  height: 100%
}

/* Header */

#nav-header {
  top: 0;
  position: fixed;
  width: 100%;
  overflow: hidden;
  display: flex;
  background-color: #0e1215;
  border-bottom: solid;
  border-color: #89b0cd;
  z-index: 1000;
}
#navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.nav-links ul {
  padding: 0;
  display: flex;
  margin-left: 4em;
}
.nav-links li {
  list-style: none;
  cursor: pointer;
  padding: 0.4em 0.8em;
}
.nav-link {
  color: #FFF;
  text-decoration: none;
  transition: 0.3s;
}
.nav-link:hover {
  color: #00c9c8;
}

/* Main */

.main-container {
  top: 0;
  bottom: 0;
  min-height: 100vh;
  display: block;
  position: relative;
  padding-bottom: 100px;
  overflow: hidden;
 }
section {
  padding-top: 0.2em;
  height: 100vh;
}
h2, h6 {
  font-size: 2.6em;
  margin-top: 1.8em;
  text-align: center;
  color: #333;
}

/* Welcome Section */

#welcome-section {
  background-color: #0e1215;
  background-image: url("/Img/black-flat-screen-computer-monitor-1714208squooshed.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
.overlay {
  top: 0;
  position: absolute;
  margin: auto;
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,.75);
}
.wrapper {
  margin: 0 auto;
  position: absolute;
  top: 50%;
  width: 100%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
#welcome-section p {
  font-family: 'Dancing Script', cursive;
  font-size: 5.2em;
  margin: 0;
}

/* Skill Section */

#skills {
  background-color: #fff;
  height: auto;

  
  display: grid;
  grid-template-columns: repeat(5, 200px);
  grid-template-rows: repeat(9, 100px);
  justify-content: center;
  text-align: center;

  grid-template-areas:
  ". . . . ."
  "html . . about1 about1"
  "html css . about1 about1"
  ". css . about1 about1"
  ". . . . ."
  "about2 about2 . . mobile"
  "about2 about2 . tablet mobile"
  "about2 about2 . tablet ."
  ". . . . .";
  /*
  ". git . . ."
  ". git . . ."
  ". . . linux ."
  ". github . linux ."
  ". github . . ."
  ". . . . .";
  */
}
#skills p {
  line-height: 30px;
}

.html-icon {
  color: #e54c21;
  grid-area: html;
  align-self: center;
  transition: 0.5s;
  transform-origin: left;
}
.css-icon {
  color: #0170ba;
  grid-area: css;
}
.mobile-icon {
  color: #302F2E;
  grid-area: mobile;
  align-self: end;
  justify-self: start;
}
.tablet-icon {
  color: #302F2E;
  grid-area: tablet;
  align-self: center;
}
 /*
 Took these out for now as they clashed with the design and I felt they weren't relevant enough to adjust for, maybe, possibly, probably.
 .git-icon {
  color: tomato;
  grid-area: git;
  align-self: end;
}
.github-icon {
  color: #302F2E;
  grid-area: github;
  justify-self: end;
}
.linux-icon {
  color: #302F2E;
  grid-area: linux;
  justify-self: start;
} 
*/

/* About Me */

#skills > h2 {
  font-size: 2em;
  margin: 0;
}
.about {
  color: #595959;
}
#about-1 {
  grid-area: about1;
}
#about-2 {
  grid-area: about2;
  align-self: center;
}

/* Portfolio Section */

#portfolio {
  background-color: #FFF;
  height: auto;
  padding-bottom: 4em;
}
.tile-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 550px));
  max-width: 1200px;
  margin: auto;
  gap: 20px;
  justify-content: center;
}
.project-tile {
  height: 350px;
  width: 540px;
  position: relative;
  margin: auto;
  border-radius: 10px;
}
.project-tile a {
  text-decoration: none;
}
.project-image {
  height: auto;
  width: 100%;
  display: block;
  border-radius: 10px;
  box-shadow: 10px 10px 10px grey;
  border: 1px solid rgba(0, 0, 0, .35);

  z-index: 2;
  transition: opacity .5s;
}
.tile-text {
  background-color: rgba(1, 1, 1, 0.7);
  color: #FFF;
  position: absolute;
  height: 87%;
  width: 100%;
  border-radius: 10px;
  
  top: 0;
  opacity: 0;
  z-index: 3;
  transition: .5s;

  text-align: center;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h4 {
  font-size: 2em;
  margin: 1.8em 1.8em .2em;
}
.tile-text > p {
  font-size: 1.4em;
  color: #24e4ee;
  margin: 0 0 1em;
}
#dsk-lnk {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-size: 1em;
  border: 1px solid rgb(255, 255, 255);
  padding: .4em;
}

/* Project page */

#pagetwo {
  background: #e3e0f3;
}
#projects {
  margin: auto;
  background-color: #fff;
  width: 70em;
}
#pro-nav {
  height: 18em;
}
.imgs-cont {
  width: 65vw;
  height: 29em;
  position: relative;
  margin: 4em auto 0;
  background-color: #fff;
  border: solid 10px #2c2c2c;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}
.pro-imgs {
  width: 100%;
  height: auto;
  position: absolute;
  z-index: -1;
}
.pro-imgs > img {
  width: 100%;
  height: auto;
}

#i1, #i2 {
  display: none;
}
#i1:checked ~ #one, #i2:checked ~ #two {
  z-index: 9;
}

.nxt, .pre {
  width: 65px;
  height: 65px;
  position: absolute;
  background: rgba(0, 0, 0, .65);
  z-index: 99;
  cursor: pointer;
  margin: auto;
  text-align: center;
}
#one > .nxt, #one > .pre {
  top: 40%;
}
#two > .pre, #two > .nxt {
  top: 37%;
}
.nxt {
  right: 0;
}
.pre {
  left: 0;
}
.nxt > i:hover, .pre > i:hover {
  color: #00c6cf;
}

.dot-cont {
  width: 100%;
  height: 11px;
  bottom: 12%;
  position: absolute;
  text-align: center;
  z-index: 99;
}
.dots {
  top: 2em;
  width: 18px;
  height: 18px;
  margin: 0 4px;
  position: relative;
  border-radius: 50%;
  display: inline-block;
  background: rgba(0, 0, 0, .8);
  cursor: pointer;
}
#i1:checked ~ .dot-cont #dot1,
#i2:checked ~ .dot-cont #dot2 {
  background: #00c6cf;
}

.pro-skills {
  width: 40vw;
  display: grid;
  grid-template-areas: 
  "html . css"
  ". javascript .";
}
.used-skills > span {
  align-self: center;
}
.js-icon {
  align-self: flex-start;
  grid-area: javascript;
  color: #F0DB4F;
}


.pro-desc {
  width: 100vw;
  height: auto;
  color: #333;
  text-align: justify;
}
.pro-desc > p {
  margin: 1em 22em 0 7em;
}

/* Footer */

footer {
  background-color: #0e1215;
  position: absolute;
  text-align: center;
  bottom: 0;
  height: auto;
  width: 100%;
}
footer a {
  display: inline-block;
  padding: 10px 10px 0;
  color: #f5f5f5;
  transition: 0.5s;
  text-decoration: none;
}
footer a:hover { 
  color: #00c6cf;
  transform: translateY(-10px);
  cursor: pointer;
}
footer p {
  margin-top: 5px;
  color: #f5f5f5;
}

@media only screen and (min-width: 1120px) {

  h1 {
    font-size: 4.4em;
    font-weight: bold;
    margin: 0 4em 1em;
  }

  /* Skills */

  h6 {
    margin: 1em 0;
  }
  #about p {
    margin: 0 22em;
  }
  .skills-icon {
    grid-template-columns: repeat(2, 27em);
  }

  /* Portfolio */

  #portfolio > h2 {
    font-size: 2.5em;
    padding-bottom: 1em;
  }
  #rps, #google {
    grid-row: 1/2;
  }
  #technical, #survey {
    grid-row: 2/3;
  }
  #rps, #technical {
    grid-column: 1/2;
  }
  #google, #survey {
    grid-column: 2/3;
  }
  #tribute {
    grid-column: 1/3;
    justify-self: center;
    margin-bottom: 2em;
  }

  .project-image:hover {
    opacity: .5;
  }
  .tile-text:hover {
    opacity: 1;
  }
  .project-tile > p {
    display: none;
  }
  #mob-lnk {
    display: none;
  }
}

@media only screen and (max-width: 1120px) {

  /* Nav */

  .nav-link {
    color: #00c9c8;
  }

  /* Welcome */

  #welcome-section p {
    margin: 0 .8em;
  }

  /* Skills */

  #skills {
    grid-template-columns: repeat(2, 200px);
    grid-template-rows: repeat(14, 100px);

    grid-template-areas:
    ". ."
    "about1 about1"
    "about1 about1"
    ". ."
    "html css"
    "html css"
    ". ."
    ". ."
    "about2 about2"
    "about2 about2"
    ". ."
    "tablet mobile"
    "tablet mobile"
    ". .";
    /*
    "git github"
    "git github"
    "linux linux"
    "linux linux"
    ". .";
    */
    
  }
  .about-1 {
    align-self: start;
  }
  h6 {
    margin-bottom: 1em;
  }

  .html-icon, .css-icon {
    align-self: end;
  }
  .mobile-icon {
    justify-self: center;
    align-self: center;
  }
  .tablet-icon {
    justify-self: end;
    align-self: center;
  }

  /*
  .github-icon {
    justify-self: center;
    align-self: center;
  }
  .linux-icon {
    justify-self: center;
  }
  */

  #skills, #portfolio {
    padding-bottom: 2em;
  }

  /* Projects */

  #portfolio {
    padding-bottom: 4em;
  }
  #portfolio > h2 {
    margin-bottom: 1em;
  }
  .tile-text, h4 {
    display: none;
  }
  .project-tile {
    margin-bottom: 5em;
    height: 320px;
    text-align: center;
  }
  .project-tile > p {
    color: #097DAE;
    font-size: 1.2em;
    text-align: center;
  }
  #mob-lnk {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: #333;
    font-size: 1em;
    border: 1px solid rgb(0, 0, 0);
    padding: .4em;
  }
  .project-image {
    margin: 0 0 1.2em;
  }

  /* Footer */

  footer a {
    color: #00c6cf;
  }
}

@media only screen and (max-width: 600px) {

  /* Nav */

  #navbar {
    margin: auto;
  }
  .nav-links ul {
    margin: .6em auto;
  }

  /* Main */

  h2, h6 {
    font-size: 2em;
  }

  /* Main */

  #welcome-section p {
    font-size: 3.3em;
  }
  h1 {
    font-size: 2.5em;
  }

  /* Portfolio */

  .project-tile {
    width: 95vw;
  }
}